<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>ArcheosWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="top">
            <div id="topcontainer">
                <div id="topleft">
                    <div id="testo1">ARCHEOSWEB</div>
                    <div id="logotop"></div>
                </div>
                <div id="topright">
                    <div class="mu"><a href="">Home</a></div>
                    <div class="mu"><a href="">About</a></div>
                    <div class="mu"><a href="">Conctat</a></div>
                </div>
            </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div id="name">
    <h1>HI WE'RE ARCHEOSWEB</h1>
    <h2>the most best of the web</h2>
    </div>
    <!------------------------------------------------------------------------------------->
    <div id="articoli">
        <div class="blox">
            <div class="bloxfoto"></div>
            <div class="bloxtitolo">TITOLO</div>
            <div class="bloxdata">01.08.2016</div>
            <div class="bloxtesto">Lorem ipsum ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.</div>
            <div class="bloxbottone">Continua a leggere...</div>
        </div>
        <div class="blox">
            <div class="bloxfoto"></div>
            <div class="bloxtitolo">TITOLO</div>
            <div class="bloxdata">01.08.2016</div>
            <div class="bloxtesto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.</div>
            <div class="bloxbottone">Continua a leggere...</div>        
        </div>
        <div class="blox">
            <div class="bloxfoto"></div>
            <div class="bloxtitolo">TITOLO</div>
            <div class="bloxdata">01.08.2016</div>
            <div class="bloxtesto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.</div>
            <div class="bloxbottone">Continua a leggere...</div>
        </div>
        <div class="blox">
            <div class="bloxfoto"></div>
            <div class="bloxtitolo">TITOLO</div>
            <div class="bloxdata">01.08.2016</div>
            <div class="bloxtesto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.</div>
            <div class="bloxbottone">Continua a leggere...</div>        
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div id="box">
        <div class="blox2">
            <h2>STORIA DEL LOGO</h2>
            <div class="blox3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.
            </div>
        </div>
        <div class="blox2" style="background-image:url(https://lh3.googleusercontent.com/KFoCM5rFmlD2FiO3pb-aJlyCGWNtp0xqwSUlzlt7mHinOKk4XqlTdRIlbEiJMCDZ0Ze3r99mkC2Hhuk2wg);"></div>
        <div class="blox2" style="background-image:url(https://lh3.googleusercontent.com/KFoCM5rFmlD2FiO3pb-aJlyCGWNtp0xqwSUlzlt7mHinOKk4XqlTdRIlbEiJMCDZ0Ze3r99mkC2Hhuk2wg);"></div>
        <div class="blox2">
            <h2>STORIA DEL LOGO</h2>
            <div class="blox3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat mauris. Quisque a nisi diam. Mauris rhoncus et nibh vehicula lacinia. Vivamus semper tellus convallis placerat molestie. Nulla dignissim non elit vitae tincidunt. Nulla posuere mattis metus nec vulputate. Aliquam erat volutpat. Mauris efficitur luctus varius. Pellentesque nisi leo, posuere vel arcu et, ornare placerat felis.
            </div>        
        </div>

    </div>
    <!------------------------------------------------------------------------------------->
    <div id="cv">
        <div id="titlecv"><h1>TEAM</h1></div>
        <div id="containercv">
            <div class="cvv">
                <div class="avatar"></div>
                <div class="teamcv">
                <h3>Luna87</h3> 
                <h4>testo due nanana</h4>
                <p>banananananana anana anana anana ana</p>
                </div>
            </div>
            <div class="cvv">
                <div class="avatar"></div>
                <div class="teamcv">
                <h3>Cronos87</h3> 
                <h4>testo due nanana</h4>
                <p>banananananana anana anana anana ana</p>
            </div> 
        </div>
            <div class="cvv">
                <div class="avatar"></div>
                <div class="teamcv">
                <h3>Jackimo</h3> 
                <h4>testo tre nanana</h4>
                <p>banananananana anana anana anana ana</p>
            </div>          
        </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div id="social">
        <div id="subsocial">
            <div id="logosocial"></div>
            <div id="socialtesto">
                ARCHEOSWEB
            </div>
            <div id="socialicone">
                <div id="fb"></div>
                <div id="ln"></div>
                <div id="tw"></div>
                <div id="gplus"></div>
                <div id="mail"></div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div id="bottom"></div>
    <!------------------------------------------------------------------------------------->

</body>
</html>